# Este arquivo define os proprietários do código
# Cada linha especifica os proprietários para um arquivo/diretório

# Estes proprietários serão os revisores padrão para tudo no repositório
* @AstalDLyon