/* Reset básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #a01f22;
}

.logo {
  height: 200px;
  /* padding-bottom: 25px; */
}
/* Seção Hero */

.hero {
  background: linear-gradient(180deg, #a01f22, #ffffff);
  color: #ffffff;
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background-color: #a01f22;
  color: #ffffff;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  background-color: #d92f44;
}

/* Seção Planos */

.planos {
  background-color: #fff;
  text-align: center;
}

.planos h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.planos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.plano-card {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  margin-bottom: 24px;
}

.plano-card:hover {
  transform: scale(1.03);
}

.plano-card.destaque {
  border-color: #e7ef9b;
  background-color: #fffbe6;
}

.plano-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.promo {
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.plano-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plano-card ul li {
  margin: 8px 0;
  font-size: 16px;
}

.preco {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  display: block;
}

.btn-plano {
  background-color: #a01f22;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-plano:hover {
  background-color: #d92f44;
}

/* Seção Unidades */

.unidades {
  background-color: #eee;
  padding: 60px 20px;
  text-align: center;
}

.unidades input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.unidades button {
  padding: 10px 20px;
  background-color: #a01f22;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.unidades button:hover {
  background-color: #d92f44;
}

@media (max-width: 390px) {
  .unidades input {
    display: block;
    margin: 0 auto 12px auto;
    width: 100%;
    max-width: 300px;
  }

  .unidades button {
    display: block;
    margin: 0 auto;
  }
}

/* Seção Aulas */

.aulas {
  background-color: #f6f6f6;
  padding: 60px 20px;
  text-align: center;
}

.aulas h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.aulas ul {
  list-style: none;
  padding: 0;
}

.aulas li {
  font-size: 18px;
  margin: 10px 0;
}

/* Rodapé */

footer {
  background-color: #a01f22;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

footer h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.whatsapp-btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #ffffff;
  color: rgb(8, 8, 8);
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
}

.whatsapp-btn:hover {
  background-color: #bababa;
}

/* Estilo padrão (desktop) */
.parallax-header {
  background-color: #a01f22;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.parallax-logo .logo {
  height: 120px;
}

.parallax-links nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.parallax-links nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.parallax-links nav a:hover {
  color: #bababa;
}

/* Responsividade para telas menores */
@media (max-width: 720px) {
  .parallax-header {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 20px 10px;
  }

  .parallax-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .parallax-logo .logo {
    height: 160px;
  }

  .parallax-links nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
}
